table {
    border-collapse: collapse;
    border: 1px solid #eeeeee;
    width: 100%;
}

tr {
    height: 30px;
    border: 1px solid #eeeeee;
}

tr:nth-child(2n) {
    background: #f9f9f9;
}

td {
    padding-left: 60px;
}

.row td:first-child {
    padding-left: 44px;
}

.row.active td:first-child {
    padding-left: 24px;
}

thead {
    background-color: #405f77;
    color: #ffffff;
}

.row.active {
    background-color: #99d448;
    color: #ffffff;
}

.row.active .fa-check {
    display: inline;
}

.row .fa-check {
    display: none;
}